# Cargar Datos

In [1]:
import pandas as pd

In [5]:
path = "C:\Users\Demar\Documents\python-ml-course\datasets\""
name = "titanic/titanic.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-5-8b5e0d6a98ac>, line 1)

comando para autocompletar

In [6]:
%config IPCompleter.greedy=True

In [ ]:
 dataframe = pd.read_csv(r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\titanic\titanic3.csv")

In [ ]:
dataframe.head()

In [ ]:
 dataframe2 = pd.read_csv(r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\customer-churn-model\customer churn model.txt")

In [ ]:
dataframe2.head()

In [ ]:
dataframe2.columns.values

In [53]:
data_cols = pd.read_csv(r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\customer-churn-model\customer churn columns.csv")
data_cols_names = data_cols["Column_Names"].tolist()
data_cols_names
dataframe2 = pd.read_csv(r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\customer-churn-model\customer churn model.txt"
                        , header= None, names= data_cols_names)

In [54]:
dataframe2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Cargar datos a traves de la funcion Open

In [55]:
dataframe3 = open(r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\customer-churn-model\customer churn model.txt","r")

In [56]:
cols = dataframe3.readline().strip().split(",")
n_cols = len(cols)

In [57]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [58]:
for line in dataframe3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print ("El dataset tiene %d filas y %d columnas" % (counter, n_cols))

El dataset tiene 3333 filas y 21 columnas

In [59]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

# Lectura y escritura de ficheros

In [65]:
infile = r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\customer-churn-model\customer churn model.txt"
outfile = r"C:\Users\dsg_s\Documents\Machine Learning\python-ml-course\datasets\customer-churn-model\SPACE customer churn model.txt"

In [68]:
with open(infile,"r") as  infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [70]:
df4 = pd.read_csv(outfile, sep = "\t")
df4

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

## Ficheros XLS y XLSX#

In [17]:
excel=r"C:\Users\Demar\Documents\Github\python-ml-course\datasets\titanic\EGRESOS.xlsx"
path= r"C:\Users\Demar\Documents\Github\python-ml-course\datasets\titanic\catalogo.xlsx"
outP = r"C:\Users\Demar\Documents\Github\python-ml-course\datasets\titanic\EGRESOS2.xlsx"

In [10]:
catalogo = pd.read_excel(excel)

In [11]:
catalogo.head()

,Proveedor,Unnamed: 1,Unnamed: 2,RJM920206BB4A,RFC,Fecha de Factura,Folio Fiscal,Folio Factura Interno,Monto Total,Monto Transferencia,Fecha de la Transferencia,Observaciones
0,DISTRIBUIDORA MOSCOSO S.A. DE C.V.,NaN,NaN,NaN,DMO900905LC4,2021-01-05 00:00:00,0087154D-5356-47CA-9FE9-5E88C1961554,A 78420,34458.88,52113.69,2021-01-05,NaN
1,NaN,NaN,NaN,RJM920206BB4A,NaN,2021-01-05 00:00:00,65378662-1847-43C8-A9DC-5FCBFC8DC773,A 78419,17654.81,NaN,NaT,NaN
2,AUTOTRANSPORTES DE CARGA TRES GUERRAS S.A. DE...,NaN,NaN,NaN,ACT6808066SA,2020-12-31 00:00:00,466BC234-EB99-4FC4-878D-9AB7E651C26C,35206113,4117.66,4117.66,2021-01-04,NaN
3,AUTOTRANSPORTES DE CARGA TRES GUERRAS S.A. DE...,NaN,NaN,RJM920206BB4A,ACT6808066SA,2021-01-06 00:00:00,3B72D23F-6225-4299-AAEC-57C63C992EAC,35260115,1185.22,1185.22,2021-01-04,NaN
4,DIFARMER S.A. DE C.V.,NaN,NaN,NaN,DIF9310055W1,2020-12-30 00:00:00,2DC2DB28-B315-4965-AC1B-038D1DEA6693,41308 H,3867.00,82750.98,2021-01-08,NaN

In [12]:
catalogo.RJM920206BB4A.head()

0              NaN
1    RJM920206BB4A
2              NaN
3    RJM920206BB4A
4              NaN
Name: RJM920206BB4A, dtype: object

In [13]:
catalogo= catalogo.drop(columns="RJM920206BB4A")

In [14]:
catalogo.head()

,Proveedor,Unnamed: 1,Unnamed: 2,RFC,Fecha de Factura,Folio Fiscal,Folio Factura Interno,Monto Total,Monto Transferencia,Fecha de la Transferencia,Observaciones
0,DISTRIBUIDORA MOSCOSO S.A. DE C.V.,NaN,NaN,DMO900905LC4,2021-01-05 00:00:00,0087154D-5356-47CA-9FE9-5E88C1961554,A 78420,34458.88,52113.69,2021-01-05,NaN
1,NaN,NaN,NaN,NaN,2021-01-05 00:00:00,65378662-1847-43C8-A9DC-5FCBFC8DC773,A 78419,17654.81,NaN,NaT,NaN
2,AUTOTRANSPORTES DE CARGA TRES GUERRAS S.A. DE...,NaN,NaN,ACT6808066SA,2020-12-31 00:00:00,466BC234-EB99-4FC4-878D-9AB7E651C26C,35206113,4117.66,4117.66,2021-01-04,NaN
3,AUTOTRANSPORTES DE CARGA TRES GUERRAS S.A. DE...,NaN,NaN,ACT6808066SA,2021-01-06 00:00:00,3B72D23F-6225-4299-AAEC-57C63C992EAC,35260115,1185.22,1185.22,2021-01-04,NaN
4,DIFARMER S.A. DE C.V.,NaN,NaN,DIF9310055W1,2020-12-30 00:00:00,2DC2DB28-B315-4965-AC1B-038D1DEA6693,41308 H,3867.00,82750.98,2021-01-08,NaN

In [18]:
catalogo.to_excel(outP)